:root {
  --primary-soft-orange: hsl(35, 77%, 62%);
  --primary-soft-red: hsl(5, 85%, 63%);
  --neutral-off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
  --main-font-size: 15px;
  --font-family: 'Inter', sans-serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
}

/* Mobile Version */
@media screen and (max-width: 768px) {
  .main__section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
  }

  .navigation__section {
    display: none;
  }

  .main__content__image {
    background: center/100% no-repeat url('/assets/images/image-web-3-mobile.jpg');
    height: 350px;
    margin: 0;
  }

  .main__content__title {
    margin: 0.5rem 0 0.5rem 0;
    font-size: 3rem;
    font-weight: 800;
  }

  .main__content__para {
    font-weight: 400;
    color: var(--dark-grayish-blue);
    margin-top: 1rem;
  }

  .main__content__readmore__box {
    background: var(--primary-soft-red);
    color: var(--neutral-off-white);
    display: flex;
    width: 12rem;
    justify-content: center;
  }

  .main__content__readmore__para {
    font-weight: 700;
  }

  .main__article__news__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    margin-top: 2rem;
    background-color: var(--very-dark-blue);
  }

  .main__news__title {
    color: var(--primary-soft-orange);
  }



  .main__news__elements__title {
    color: var(--neutral-off-white);
  }

  .main__news__elements__para {

    color: var(--dark-grayish-blue);
  }

  .border__bottom__helper__element {
    border-bottom: .5px solid var(--dark-grayish-blue);
  }

  .main__blog__section {
    display: flex;
    flex-wrap: wrap;
  }

  .main__blog__section__posts {
    display: flex;
    margin: 0;
    align-items: flex-start;
    margin: 3rem 3rem 3rem 0;
    background-color: #fefdf9;
  }

  .main__blog__section__posts__image {
    margin: 0;
  }

  .main__blog__section__posts__elements {
    padding: 0 7rem 0 3rem;
  }

  .main__blog__section__posts__elements>h2 {
    margin: 0;
  }

  .main__blog__section__posts__enum {
    color: var(--grayish-blue);
  }

  .main__blog__section__posts__para {
    color: var(--dark-grayish-blue)
  }

  .main__sidebar {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 23rem;
    background: var(--neutral-off-white);
  }

  .main__sidebar .open {
    width: 12rem;
  }

  .main__sidebar__navigation__section__main_nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 10rem;
    margin: 2rem 0 0 1rem;
    padding: 5rem 0 0 0;

  }

  .main__sidebar__navigation__section__main_nav .open {
    width: 12rem;
  }

  .main__sidebar__menu__close {
    position: fixed;
    top: 0;
    right: 7rem;
    width: 2rem;
    height: 2rem;
  }

  .main__sidebar__navigation__section__main_nav__li {
    height: 20rem;
  }
}

/* Desktop Version */
@media screen and (min-width: 769px) {
  .main__section {
    display: flex;
    justify-content: space-between;
  }

  .navigation__section__main_nav {
    display: flex;
    list-style-type: none;
  }

  .navigation__section__main_nav__li {
    margin: 0 1rem;
  }

  .menu__section {
    display: none;
  }

  .main__sidebar__menu__close,
  .main__sidebar__navigation__section__main_nav,
  .main__sidebar {
    display: none;
  }
}